@charset "UTF-8";

/* #footer_body
{
	margin: 0;
} */

#footer_list
{

	display: flex;
	align-items: center;
	margin: 0px;

}
#footer_list
{
	list-style: none;
	font-family: 'GmarketSansLight';
}
#footer_list a
{
	text-decoration: none; 
	padding: 10px 10px 10px 10px;
	color: var(--text-color);

}
#footer_list li
{
	color: var(--text-color);	
}
/* a:hover, a:active 
{
	text-decoration: none; 
	background-color:var(--hover-color);
	border-radius: 10em;

} */