@charset "UTF-8";
@font-face 
{ 
	font-family: 'GmarketSansLight';
 	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  	font-weight: normal;
   	font-style: normal; 
}
:root
{
	--back-color :#FFCC4F;
	--text-color :#fffdf7;
	--hover-color :#52BF88;
	--hover-color1 :#2383ed;
	
}
body
{
	width:100%;
	margin: 0;
	
}
li a 
{
	color: #fff;
 	text-decoration: none;
  	outline: none;
  	
 }
#logo a
{
	text-decoration: none; 
	background-color:var(--hover-color);
	border-radius: 10em;
	padding:0px 5px 3px 0px;
	margin: 30px;
}
a
{
	text-decoration: none; 
	padding: 10px;

}

a:hover, a:active 
{
	text-decoration: none; 
	background-color:var(--hover-color);
	border-radius: 10em;

}
#header
{
	height: 20%;
	background-color: var(--back-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

ul
{
	list-style: none;
	padding: 10px;
	display: flex;
	
}
li
{
	padding-left:10px;
	font-family: 'GmarketSansLight';
	align-content: center;
	margin: 10px;
}

#logo_text
{
	color: var(--text-color);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 30pt;

	
	
}


#nav_list
{
	display: flex;
	justify-content: space-between;
	margin: 0px;
	
}

#nav_icons
{
	display: flex;
	justify-content: space-between;
	margin: 0px;
	
}

#nav_list
{
	/* font-family: 'Noto Sans KR', sans-serif; */
}





