@charset "UTF-8";
@font-face 
{ 
	font-family: 'GmarketSansLight';
 	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  	font-weight: normal;
   	font-style: normal; 
}
:root
{
	--back-color :#FFCC4F;
	--text-color :#fffdf7;
	--hover-color :#52BF88;
	--hover-color1 :#2383ed;
	
}
#header_body 
{

	margin: 0;
	
	
	
}

body
{
	padding-top: 59px;
	
}
#alram a
{
	
	z-index:1500;
	color: black;
}


#logo a
{
	text-decoration: none; 
	background-color:var(--hover-color);
	border-radius: 10em;
	padding:0px 5px 3px 0px;
	margin: 30px;
}
#header a
{
	color :var(--text-color);
	text-decoration: none; 
	outline: none;



}

#header a:hover, #header a:active 
{
	text-decoration: none; 
	background-color:var(--hover-color);
	border-radius: 10em;
	

}
#header
{
	position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
	background-color: var(--back-color);
	opacity:92%;
	display: flex;
	position:relative;
	z-index:9000;
	width:100%;
	align-items: center;
	justify-content: space-between;
	
}


#nav_list > li
{
	padding-left:10px;
	font-family: 'GmarketSansLight';
	align-content: center;
	margin: 10px;
	letter-spacing: 0.3em;
}

#nav_list a
{
	padding: 7px;
	
}
#nav_list
{
	padding:5px;
	
}

#logo_text
{
	color: var(--text-color);
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 30pt;

}


#nav_list
{
	display: flex;
	justify-content: space-between;
	margin: 0px;
	list-style: none;
	padding: 10px;
	display: flex;
	
}

#nav_icons
{
	display: flex;
	justify-content: space-between;
	margin: 0px;
	list-style: none;
	font-family: 'GmarketSansLight';
	align-content: center;
	margin: 10px;
	
}
#nav_icons li
{
	padding-left:10px;
	letter-spacing: 0.3em;
	color: var(--text-color);
}

#nav_icons a
{
	padding: 7px;
}
.nav_Btn
{
	position: absolute;
	right: 15px;
    top: 15px;
    font-size: 25px;
    display: none;
}
.nav_Btn i 
{
	color: var(--text-color);
}


@media screen and (max-width: 977px) 
{ 
	#header
	{
		flex-direction: column;
		align-items: flex-start;
	} 
	#nav_list
	{
		flex-direction: column;	
		align-items: center;
		width: 100%;
	}

	#nav_list li 
	{
		width: 100%;
		text-align: center;
		padding-left:0px;
	
	}


	#search_bar
	{
		width: 100%;
	}
	#nav_icons
	{
		justify-content: center;
		padding: 0px;
	}
	.nav_Btn
	{
    	display: block;
	}
}






